# Books (Core)
- Robert Ramos
- 4/23/2022

![png](ERD.png)

In [1]:
import pymysql
pymysql.install_as_MySQLdb()
from sqlalchemy import create_engine
from sqlalchemy_utils import create_database, database_exists

## Change username and password to match your personal MySQL Server settings
username = 'root' # default username for MySQL db is root
password = 'Bailey2010!' # whatever password you chose during MySQL installation.

connection = f'mysql+pymysql://{username}:{password}@localhost/books'
engine = create_engine(connection)

create database

In [2]:
create_database(connection)

ProgrammingError: (pymysql.err.ProgrammingError) (1007, "Can't create database 'books'; database exists")
[SQL: CREATE DATABASE books CHARACTER SET = 'utf8']
(Background on this error at: https://sqlalche.me/e/14/f405)

In [3]:
database_exists(connection)

True

In [4]:
import pandas as pd
df = pd.read_csv('data/users.csv')
df.head()

   id first_name  last_name                 email
0   1       John        Doe          JD@books.com
1   2      Robin      Smith       Robin@books.com
2   3     Gloria  Rodriguez  grodriquez@books.com

In [5]:
df.to_sql('users', engine, if_exists = 'replace')

In [6]:
q = """SELECT * FROM users;"""
pd.read_sql(q, engine)

   index  id first_name  last_name                 email
0      0   1       John        Doe          JD@books.com
1      1   2      Robin      Smith       Robin@books.com
2      2   3     Gloria  Rodriguez  grodriquez@books.com

In [7]:
import pandas as pd
df = pd.read_csv('data/books.csv')
df.head()

   id                 title  author_id
0   1           The Shining          1
1   2                    It          1
2   3      The Great Gatsby          2
3   4  The Call of the Wild          3
4   5   Pride and Prejudice          4

In [8]:
df.to_sql('books', engine, if_exists = 'replace')

In [9]:
q = """SELECT * FROM books;"""
pd.read_sql(q, engine)

   index  id                 title  author_id
0      0   1           The Shining          1
1      1   2                    It          1
2      2   3      The Great Gatsby          2
3      3   4  The Call of the Wild          3
4      4   5   Pride and Prejudice          4
5      5   6          Frankenstein          5

In [10]:
import pandas as pd
df = pd.read_csv('data/authors.csv')
df.head()

   id        author_name
0   1       Stephen King
1   2  F.Scott Fitgerald
2   3        Jack London
3   4        Jane Austen
4   5       Mary Shelley

In [11]:
df.to_sql('authors', engine, if_exists = 'replace')

In [13]:
q = """SELECT * FROM authors;"""
pd.read_sql(q, engine)

   index  id        author_name
0      0   1       Stephen King
1      1   2  F.Scott Fitgerald
2      2   3        Jack London
3      3   4        Jane Austen
4      4   5       Mary Shelley

In [14]:
import pandas as pd
df = pd.read_csv('data/favorites.csv')
df.head()

   user_id  book_id
0        1        1
1        1        2
2        1        3
3        2        4
4        2        5

In [15]:
df.to_sql('favorites', engine, if_exists = 'replace')

In [16]:
q = """SELECT * FROM favorites;"""
pd.read_sql(q, engine)

   index  user_id  book_id
0      0        1        1
1      1        1        2
2      2        1        3
3      3        2        4
4      4        2        5
5      5        3        5
6      6        3        6

In [17]:
q = """SHOW TABLES;"""
pd.read_sql(q, engine)

  Tables_in_books
0         authors
1           books
2       favorites
3           users